<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
      xmlns:gap = "http://phonegap.com/ns/1.0"      
      versionCode - "1"
      version = "1.0">      
      <name>SampleApp</name>      
      <description> PhoneGap Sample App description</description>
      <author href="conference.eurostarsoftwaretesting.com" email="cathal@eurostarconferences.com">Cathal</author>
      <gap:platform name="android" />
      <gap:platform name="winphone" />
      <preference name="orientation" value="portrait" />      
      <preference name="fullscreen" value="false" />  
      <preference name="webviewbounce" value="false" />  
      <preference name="DisallowOverscroll" value="true" />  
      <preference name="disallowOverscroll" value="true" /> 
      <preference name="prerendered-icon" value="false" /> 
      <preference name="android-minSdkVersion" value="14" /> 
      <preference name="android-installLocation" value="auto" /> 
      
      <gap:splash src="res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="400" />
      <gap:splash src="res/screen/ios/screen-iphone-landscape.png" gap:landscape="ios" width="320" height="400" />
   </widget>   
      
      
