<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
      xmlns:gap = "http://phonegap.com/ns/1.0"      
      versionCode - "1"
      version = "1.0">      
      <name>SampleApp</name>      
      <description> PhoneGap Sample App description</description>
      <author href="conference.eurostarsoftwaretesting.com" email="cathal@eurostarconferences.com">Cathal</author>
      <gap:platform name="android" />
      <gap:platform name="winphone" />
      <preference name="orientation" value="portrait" />      
      <preference name="fullscreen" value="false" />  
      <preference name="webviewbounce" value="false" />  
      <preference name="DisallowOverscroll" value="true" />  
      <preference name="disallowOverscroll" value="true" /> 
      <preference name="prerendered-icon" value="false" /> 
      <preference name="android-minSdkVersion" value="14" /> 
      <preference name="android-installLocation" value="auto" /> 
      
      <gap:splash src="res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480" />
      <gap:splash src="res/screen/ios/screen-iphone-landscape.png" gap:platform="ios" width="480" height="320" />
      <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
      <gap:splash src="res/screen/ios/screen-iphone-landscape-2x.png" gap:platform="ios" width="960" height="640" />
      <gap:splash src="res/screen/ios/screen-iphone-portrait-1136h.png" gap:platform="ios" width="640" height="1136" />
      <gap:splash src="res/screen/ios/screen-iphone-landscape-1024h.png" gap:platform="ios" width="768" height="1024" />
      <gap:splash src="res/screen/ios/screen-iphone-portrait-768h.png" gap:platform="ios" width="1024" height="768" />
      <gap:splash src="res/screen/ios/screen-iphone-landscape-2008h.png" gap:platform="ios" width="1536" height="2008" />
      <gap:splash src="res/screen/ios/screen-iphone-landscape-1496h.png" gap:platform="ios" width="2048" height="1496" />
   </widget>   
      
      
